/* === Styles reset === */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #17a2b8;
    --bs-primary: #17a2b8;
    --secondary-color: #00141c;
    --catch-color: #6f63ad;
    scroll-behavior: smooth;
}
body {}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: "Handlee", cursive;
}

.pr-5, .px-5 {
    padding-right: 3rem !important;
}
.pr-2, .px-2 {
    padding-right: 0.5rem !important;
}

.btn-primary {
    --bs-btn-bg: var(--primary-color);
    --bs-btn-border-color: var(--primary-color);
    --bs-btn-hover-bg: var(--primary-color);
    --bs-btn-hover-border-color: var(--primary-color);
    --bs-btn-active-bg: var(--primary-color);
    --bs-btn-active-border-color: var(--primary-color);
}
.btn-secondary {
    --bs-btn-bg: var(--secondary-color);
    --bs-btn-border-color: var(--secondary-color);
    --bs-btn-hover-bg: var(--secondary-color);
    --bs-btn-hover-border-color: var(--secondary-color);
    --bs-btn-active-bg: var(--secondary-color);
    --bs-btn-active-border-color: var(--secondary-color);
    color: #fff;
}
.btn-outline-secondary {
    --bs-btn-color: var(--secondary-color);
    --bs-btn-border-color: var(--secondary-color);
    --bs-btn-hover-bg: var(--secondary-color);
    --bs-btn-hover-border-color: var(--secondary-color);
    --bs-btn-active-bg: var(--secondary-color);
    --bs-btn-active-border-color: var(--secondary-color);
    --bs-btn-disabled-color: var(--secondary-color);
    --bs-btn-disabled-border-color: var(--secondary-color);
}
.btn-outline-secondary:hover {
    color: #fff;
}

.bg-primary {
    background-color: #17a2b8 !important;
}

.section-title {
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--primary-color);
}
.section-title span {
    position: relative;
    background: #ffffff;
    z-index: 1;
} 
.section-title::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #17a2b8;
}

/* ====== Spinner ====== */
#spinner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    /* show w-100 vh-100 position-fixed translate-middle top-50 start-50 */
}
#spinner p {
    margin-top: 3rem;
    font-size: 2rem;
    color: var(--primary-color);
}
.loader {
    position: relative;
    height: 80px;
    width: 80px;
    filter: url("#goo");
  }
  .loader .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .loader .spinner:after {
    content: "";
    background: var(--primary-color);
    border-radius: 50%;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .loader .spinner span {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .loader .spinner span:nth-of-type(1) {
    transform: translateX(-100%) translateY(0) rotate(-90deg);
  }
  .loader .spinner span:nth-of-type(2) {
    transform: translateX(-70%) translateY(-70%) rotate(-45deg);
  }
  .loader .spinner span:nth-of-type(3) {
    transform: translateX(0) translateY(-100%) rotate(0);
  }
  .loader .spinner span:nth-of-type(4) {
    transform: translateX(70%) translateY(-70%) rotate(45deg);
  }
  .loader .spinner span:nth-of-type(5) {
    transform: translateX(100%) translateY(0) rotate(90deg);
  }
  .loader .spinner span:nth-of-type(6) {
    transform: translateX(70%) translateY(70%) rotate(135deg);
  }
  .loader .spinner span:nth-of-type(7) {
    transform: translateX(0) translateY(100%) rotate(180deg);
  }
  .loader .spinner span:nth-of-type(8) {
    transform: translateX(-70%) translateY(70%) rotate(-135deg);
  }
  .loader .spinner span:nth-of-type(1):after {
    -webkit-animation-delay: 0;
            animation-delay: 0;
  }
  .loader .spinner span:nth-of-type(2):after {
    -webkit-animation-delay: 375ms;
            animation-delay: 375ms;
  }
  .loader .spinner span:nth-of-type(3):after {
    -webkit-animation-delay: 750ms;
            animation-delay: 750ms;
  }
  .loader .spinner span:nth-of-type(4):after {
    -webkit-animation-delay: 1125ms;
            animation-delay: 1125ms;
  }
  .loader .spinner span:nth-of-type(5):after {
    -webkit-animation-delay: 1500ms;
            animation-delay: 1500ms;
  }
  .loader .spinner span:nth-of-type(6):after {
    -webkit-animation-delay: 1875ms;
            animation-delay: 1875ms;
  }
  .loader .spinner span:nth-of-type(7):after {
    -webkit-animation-delay: 2250ms;
            animation-delay: 2250ms;
  }
  .loader .spinner span:nth-of-type(8):after {
    -webkit-animation-delay: 2625ms;
            animation-delay: 2625ms;
  }
  .loader .spinner span:nth-of-type(1):before {
    -webkit-animation-delay: 0ms;
            animation-delay: 0ms;
  }
  .loader .spinner span:nth-of-type(2):before {
    -webkit-animation-delay: 375ms;
            animation-delay: 375ms;
  }
  .loader .spinner span:nth-of-type(3):before {
    -webkit-animation-delay: 750ms;
            animation-delay: 750ms;
  }
  .loader .spinner span:nth-of-type(4):before {
    -webkit-animation-delay: 1125ms;
            animation-delay: 1125ms;
  }
  .loader .spinner span:nth-of-type(5):before {
    -webkit-animation-delay: 1500ms;
            animation-delay: 1500ms;
  }
  .loader .spinner span:nth-of-type(6):before {
    -webkit-animation-delay: 1875ms;
            animation-delay: 1875ms;
  }
  .loader .spinner span:nth-of-type(7):before {
    -webkit-animation-delay: 2250ms;
            animation-delay: 2250ms;
  }
  .loader .spinner span:nth-of-type(8):before {
    -webkit-animation-delay: 2625ms;
            animation-delay: 2625ms;
  }
  .loader .spinner span:after {
    content: "";
    background: var(--primary-color);
    height: 13px;
    width: 13px;
    position: absolute;
    top: 9px;
    left: 9px;
    transform: translateX(0) translateY(0);
    border-radius: 50%;
    -webkit-animation: move 3s linear infinite;
            animation: move 3s linear infinite;
  }
  .loader .spinner span:before {
    content: "";
    background: var(--primary-color);
    height: 10px;
    width: 10px;
    position: absolute;
    top: 8px;
    left: 8px;
    transform: translateX(0) translateY(0);
    border-radius: 50%;
    -webkit-animation: move2 3s linear infinite;
            animation: move2 3s linear infinite;
  }
  @-webkit-keyframes move {
    0% {
      transform: translateX(0) translateY(0);
    }
    10% {
      transform: translateX(0) translateY(-350%);
    }
    15% {
      transform: translateX(0) translateY(-400%);
    }
    17% {
      transform: translateX(0) translateY(-400%);
    }
    20% {
      transform: translateX(0) translateY(-350%);
    }
    23% {
      transform: translateX(0) translateY(0);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }
  @keyframes move {
    0% {
      transform: translateX(0) translateY(0);
    }
    10% {
      transform: translateX(0) translateY(-350%);
    }
    15% {
      transform: translateX(0) translateY(-400%);
    }
    17% {
      transform: translateX(0) translateY(-400%);
    }
    20% {
      transform: translateX(0) translateY(-350%);
    }
    23% {
      transform: translateX(0) translateY(0);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
}
@-webkit-keyframes move2 {
    0% {
      transform: translateX(0) translateY(0);
    }
    10% {
      transform: translateX(0) translateY(-370%);
    }
    15% {
      transform: translateX(0) translateY(-530%);
    }
    17% {
      transform: translateX(0) translateY(-530%);
    }
    20% {
      transform: translateX(0) translateY(-450%);
    }
    23% {
      transform: translateX(0) translateY(-150%);
    }
    26% {
      transform: translateX(0) translateY(0);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
}
@keyframes move2 {
    0% {
      transform: translateX(0) translateY(0);
    }
    10% {
      transform: translateX(0) translateY(-370%);
    }
    15% {
      transform: translateX(0) translateY(-530%);
    }
    17% {
      transform: translateX(0) translateY(-530%);
    }
    20% {
      transform: translateX(0) translateY(-450%);
    }
    23% {
      transform: translateX(0) translateY(-150%);
    }
    26% {
      transform: translateX(0) translateY(0);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
}
.back-to-top {
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 1.875rem;
    bottom: 1.875rem;
    z-index: 9999;
    background-color: var(--primary-color);
    border-radius: 50%;
}
a.back-to-top{
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}.back-to-top {
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 1.875rem;
    bottom: 1.875rem;
    z-index: 9999;
    background-color: var(--primary-color);
    border-radius: 50%;
}

/* === Navbar === */
#header {
}

/* === Home === */
#home {
    padding: 100px 0;
}

/* === About === */
#about {
}

/* === Services === */
#services {
}

/* === Portfolio === */
#portfolio {
}

/* === Testimonials === */
#testimoninials {
    height: 100vh;
    background-color: cadetblue;
}

/* === Contact === */
#contact {
}

/* === Footer === */
#footer {
}